# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
## solution 1

# tuple with first 10 positive integer

tuple_1 = tuple([x for x in range(10)])

print(tuple_1)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
## solution 2

# first element of tuple
print(f"first element of tuple: {tuple_1[0]}")

# middle element of tuple
print(f"middle element of tuple: {tuple_1[int(len(tuple_1)/2)]}")

# last element of tuple
print(f"last element of tuple: {tuple_1[-1]}")

first element of tuple: 0
middle element of tuple: 5
last element of tuple: 9

In [13]:
## solution 3

# first 3 elements of tuple
print(f"first 3 elements of tuple: {tuple_1[0:3]}")

# last 3 elements of tuple
print(f"last 3 elements of tuple: {tuple_1[-3:]}")

# elements from index 2 to 5
print(f"elements from index 2 to 5: {tuple_1[2:6]}")

first 3 elements of tuple: (0, 1, 2)
last 3 elements of tuple: (7, 8, 9)
elements from index 2 to 5: (2, 3, 4, 5)

In [17]:
## solution 4

# nested tuple
tuple_2 = (
    (0,1,2),
    (3,4,5),
    (6,7,8)
)

print(tuple_2)

# element at 2nd row and 3rd column
print(f"element at 2nd row and 3rd column is: {tuple_2[1][2]}")

((0, 1, 2), (3, 4, 5), (6, 7, 8))
element at 2nd row and 3rd column is: 5

In [19]:
## solution 5

# tuple concatenation

t1 = (1,2,3)
t2 = (4,5,6)

concatenated_tuple = t1+t2

print(f"concatenated tuple is: {concatenated_tuple}")

concatenated tuple is: (1, 2, 3, 4, 5, 6)

In [25]:
## solution 6

# tuple with duplicate elements
t3 = (1,2,2,3,4,5,6,6,6,7)

# count of occurrence of element
print(f"occurence of 2 is: {t3.count(2)}")

# index of duplicate element
print(f"index of 2 is: {t3.index(2)}")

occurence of 2 is: 2
index of 2 is: 1

In [26]:
## solution 7

# tuple with 5 elements
t4 = (1,2,3,4,5)

# unpacking of tuple
a,b,c,d,e = t4

# printing unpacked elements
print(a,b,c,d,e)

1 2 3 4 5

In [29]:
## solution 8

# convert list to tuple

ls = [1,2,3,4,5]

t5 = tuple(ls)

print(f"{ls} and {type(ls)}")

print(f"{t5} and {type(t5)}")

[1, 2, 3, 4, 5] and <class 'list'>
(1, 2, 3, 4, 5) and <class 'tuple'>

In [32]:
## solution 9

# tuple in tuple with 3 elements

t6 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(f"tuple of tuples: {t6}")

tuple of tuples: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [35]:
## solution 10

# tuple with 5 elements
t7 = (1,2,3,4,5)
print('before appending')
print(t7)

# convert tuple to list
ls = list(t7)

# append 6 to list
ls.append(6)
print(ls)

# convert list to tuple
t7 = tuple(ls)
print("after appending")
print(t7)

before appending
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 6]
after appending
(1, 2, 3, 4, 5, 6)

In [37]:
## solution 11

string = "hello"

## tuple of string
t8 = tuple(string)
print(t8)

## joined string
joined_str = ''.join(t8)

print(joined_str)

('h', 'e', 'l', 'l', 'o')
hello

In [38]:
## solution 12

tup_dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}

print(tup_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [42]:
## solution 13

nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for tpl in nested_tpl:
    for element in tpl:
        print(element)

1
2
3
4
5
6
7
8
9

In [43]:
## solution 14

# tuple with duplicate elements
tpl = (1,1,2,3,4,5,5,6,7,8,8)

# convert tuple to set
set1 = set(tpl)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
## solution 15

tpl = (1,2,3,4)

def tuple_ops(tup):
    max_of_tuple = max(tup)
    print(f"maximum of tuple is {max_of_tuple}")
    min_of_tuple = min(tup)
    print(f"minimum of tuple is {min_of_tuple}")
    sum_of_tuple = sum(tup)
    print(f"sum of tuple is {sum_of_tuple}")

tuple_ops(tpl)

maximum of tuple is 4
minimum of tuple is 1
sum of tuple is 10