# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [ ]:
### solution 1.1

import sqlite3

#creating a database
def create_db():
    conn = sqlite3.connect('test.db') #create database connection
    conn.close() #closing connection
    print('Database created successfully.')

create_db()

Database created successfully.

In [ ]:
### solution 1.2

#creating a table
def create_table():
    conn = sqlite3.connect('test.db') #create a db connection
    cursor = conn.cursor() #create a cursor
    cursor.execute('''
            create table if not exists employees (
                   id integer primary key,
                   name varchar20 not null,
                   age integer,
                   department varchar20
                   )
            ''')  ## create a table
    conn.commit()  #commits the transaction
    conn.close()  #closing the connection
    print("Table created successfully")

create_table()

Table created successfully

In [ ]:
### solution 2.1

def insert_data(id, name, age, department):
    conn = sqlite3.connect('test.db') #create a db connection
    cursor = conn.cursor() #creating a cursor
    cursor.execute('''
insert into employees  (id, name, age, department)
                   values (?,?,?,?)
''', (id, name, age, department)) ## inserting data in table
    conn.commit() #commits the transaction
    conn.close() #closing the transaction
    print('Data inserted successfully')

insert_data(1,'A',25,'Science')

Data inserted successfully

In [4]:
### solution 2.2

insert_data(2,'B',24,'Science')
insert_data(3,'C',25,'Maths')
insert_data(4,'D',25,'English')
insert_data(5,'E',23,'Science')
insert_data(6,'F',25,'Commerce')

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [ ]:
### solution 3.1

def display():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('select * from employees')
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

display()

(1, 'A', 25, 'Science')
(2, 'B', 24, 'Science')
(3, 'C', 25, 'Maths')
(4, 'D', 25, 'English')
(5, 'E', 23, 'Science')
(6, 'F', 25, 'Commerce')

In [ ]:
### solution 3.2

def display_emp_dept(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('select * from employees where department=?', (department,))
    rows = cursor.fetchall()
    conn.close()
    for row in rows:
        print(row)

display_emp_dept('Science')

(1, 'A', 25, 'Science')
(2, 'B', 24, 'Science')
(5, 'E', 23, 'Science')

In [17]:
### solution 3.1

def update_data(id, new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   update employees 
                   set department=? 
                   where id=?
                   ''', (new_department, id))
    conn.commit()
    conn.close()
    print("employee dept updated successfully")

update_data(2,'Commerce')

employee dept updated successfully

In [18]:
### solution 3.2

update_data(3, 'Research')
update_data(4,'IT')

display()

employee dept updated successfully
employee dept updated successfully
(1, 'A', 25, 'Science')
(2, 'B', 24, 'Commerce')
(3, 'C', 25, 'Research')
(4, 'D', 25, 'IT')
(5, 'E', 23, 'Science')
(6, 'F', 25, 'Commerce')

In [20]:
### solution 5.1

def delete_data(id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                delete from employees 
                where id=?
                   ''',(id,)
)
    conn.commit()
    conn.close()
    print('records deleted successfully.')

delete_data(4)
display()

records deleted successfully.
(1, 'A', 25, 'Science')
(2, 'B', 24, 'Commerce')
(3, 'C', 25, 'Research')
(5, 'E', 23, 'Science')
(6, 'F', 25, 'Commerce')

In [21]:
### solution 5.2

delete_data(2)
display()

records deleted successfully.
(1, 'A', 25, 'Science')
(3, 'C', 25, 'Research')
(5, 'E', 23, 'Science')
(6, 'F', 25, 'Commerce')

In [ ]:
### solution 6.2

def fetch_records_age(age):
    conn = sqlite3.connect('test.db')
    cursor= conn.cursor()
    cursor.execute('''
                select * from employees where age>?   
                ''',(age,))
    records = cursor.fetchall()
    conn.close()
    for rec in records:
        print(rec)
    
fetch_records_age(24)

(1, 'A', 25, 'Science')
(3, 'C', 25, 'Research')
(6, 'F', 25, 'Commerce')

In [28]:
### solution 6.2

def fetch_records_name(letter):
    conn = sqlite3.connect('test.db')
    cursor= conn.cursor()
    cursor.execute('''
                select * from employees where name like ?   
                ''',(letter,))
    records = cursor.fetchall()
    conn.close()
    for rec in records:
        print(rec)

fetch_records_name('A')

(1, 'A', 25, 'Science')

In [35]:
### solution 7.1

def insert_multiple_emp(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
                        insert into employees (id, name, age, department)
                           values (?,?,?,?)
                           ''', employees)
        conn.commit()
        print("All employees inserted successfully")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

employees = [
    (10,'AD',34,'IT'),
    (7,'BC',36,'HR'),
    (8,'AR',45,'Sales'),
    (9,'GH',30,'IT'),
    (11,'AQ',44,'IT')
]

insert_multiple_emp(employees)

All employees inserted successfully

In [40]:
### solution 7.2

def update_multiple_data(ages):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:

        cursor.executemany('''
                    update employees
                    set age = ?
                    where id = ?
                    ''', ages)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print("Error occurred,m transaction rollled back.")
        print(e)
    finally:
        conn.close()

ages = [
    (30,1),
    (27,2),
    (33,3),
    (44,4),
    (28,6)
]
update_multiple_data(ages)

In [41]:
display()

(1, 'A', 30, 'Science')
(3, 'C', 33, 'Research')
(5, 'E', 23, 'Science')
(6, 'F', 28, 'Commerce')
(7, 'BC', 36, 'HR')
(8, 'AR', 45, 'Sales')
(9, 'GH', 30, 'IT')
(10, 'AD', 34, 'IT')
(11, 'AQ', 44, 'IT')

In [42]:
### solution 8.1

def create_tb():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   create table if not exists departments(
                   id integer primary key,
                   name text not null
                   )
                    ''')
    conn.commit()
    conn.close()
    print('Table created')

create_tb()

Table created

In [49]:
### solution 8.2

def add_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('pragma foreign_keys=off;')
    cursor.execute('alter table employees rename to employees_1;')
    cursor.execute('''
                   create table employees (
                   id integer primary key,
                   name text not null,
                   age integer,
                   department text, 
                   department_id integer,
                   foreign key(department_id) references departments(id)
                   );
''')
    cursor.execute('''
                   insert into employees (id, name, age, department)
                   select id, name, age, department from employees_1;
                   ''') 
    cursor.execute('drop table employees_1;')
    cursor.execute('commit;')
    cursor.execute('pragma foreign_keys=on;')          
    conn.commit()
    conn.close()
    print('Table modified')

add_foreign_key()

Table modified

In [54]:
### solution 8.3

def insert_dept_emp(dept_id, dept_name, emp_id, name, age, dept):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('BEGIN TRANSACTION;')
        
        cursor.execute('''
                       INSERT INTO departments (id, name)
                       VALUES (?, ?)
                       ''', (dept_id, dept_name))
        
        cursor.execute('''
                       INSERT INTO employees (id, name, age, department, department_id)
                       VALUES (?, ?, ?, ?, ?)
                       ''', (emp_id, name, age, dept, dept_id))
        
        conn.commit()
        print('Department and employee data inserted')
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back")
        print(e)
    finally:
        conn.close()

insert_dept_emp(1, 'IT', 12, 'ST', 29, 'IT')

Department and employee data inserted

In [56]:
### solution 9.1

def create_index():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('create index idx_name on employees(name)')
    conn.commit()
    conn.close()
    print("index created")

create_index()

index created

In [57]:
### solution 9.2

import time

def fetch_records_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('select * from employees where name like ?',(letter+'%',))
    records =cursor.fetchall()
    end_time = time.time()
    conn.close()
    print(f"time taken to complete {end_time-start_time}.s")
    for record in records:
        print(record)

fetch_records_performance('A')

time taken to complete 0.01799297332763672.s
(1, 'A', 30, 'Science', None)
(8, 'AR', 45, 'Sales', None)
(10, 'AD', 34, 'IT', None)
(11, 'AQ', 44, 'IT', None)

In [58]:
### solution 10.1
import shutil

def backup_db():
    shutil.copy('test.db', 'backup.db')
    print('DB backed up')

backup_db()

DB backed up

In [60]:
### solution 10.2

def restore_db():
    shutil.copy('backup.db', 'test.db')
    print('database restored')

restore_db()

database restored