# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [11]:
## solution 1

s1 = set([x for x in range(1,11)])

print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
## solution 2

# add 11 to set
s1.add(11)

print(f"set after adding 11: {s1}")

# remove 1 from set
s1.remove(1)

print(f"set after removing 1: {s1}")

set after adding 11: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set after removing 1: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [7]:
## solution 3

s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

# union of sets
print(f"union of sets is: {s1.union(s2)}")

# intersection of sets
print(f"intersection of sets is: {s1.intersection(s2)}")

# difference of sets
print(f"difference of sets: {s1.difference(s2)}")

# symmetrice difference of sets
print(f"symmetric difference of sets: {s1.symmetric_difference(s2)}")

union of sets is: {1, 2, 3, 4, 5, 6, 8, 10}
intersection of sets is: {2, 4}
difference of sets: {1, 3, 5}
symmetric difference of sets: {1, 3, 5, 6, 8, 10}

In [10]:
## solution 4

s2 = {x**2 for x in range(1,11)}

print(s2)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [13]:
## solution 5

s3 = {x for x in s1 if x%2==0}

print(s3)

{2, 4, 6, 8, 10}

In [15]:
## solution 6

s4 = {1,1,2,3,4,5,6,7,7,8,9}

uniq_set = set(s4)

print(uniq_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [16]:
## solution 7

s5 = {1,2,3,4,5}
s6 = {1,2,3}

print(f"check the subset: {s6.issubset(s5)}")

print(f"check the superset: {s5.issuperset(s6)}")

check the subset: True
check the superset: True

In [17]:
## solution 8

s7 = frozenset(range(1,6))

print(s7)

frozenset({1, 2, 3, 4, 5})

In [1]:
## solution 9

s11 = {1,2,3,4,5} ## set of first 5 integers
print(f"set is {s11}")

l11 = list(s11) ## convert set to list
print(f"list is {l11}")

## append 6 to list
l11.append(6)
print(l11)

## convert list to set
l11 = set(l11)
print(f"set after appending {l11}")

set is {1, 2, 3, 4, 5}
list is [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
set after appending {1, 2, 3, 4, 5, 6}

In [3]:
## solution 10

# dictionary with set as key

d1 = {
    frozenset({1,2}):3,
    frozenset({4,5}):6,
    frozenset({7,8}):9
}

print(d1)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

In [13]:
## solution 11

# creating a set
s1 = {1,2,3,4,5}

for elem in s1:
    print(elem)

1
2
3
4
5

In [14]:
## solution 12

while s1:
    s1.pop()
    print(s1)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [16]:
## solution 13

# creating sets
s1 = {1,2,3,4,5}
s2 = {2,4,6,8,10}

# symmetric diff sets
s1.symmetric_difference_update(s2)
print(f"symmetric difference {s1}")

symmetric difference {1, 3, 5, 6, 8, 10}

In [17]:
## solution 14

# creating a set
s1 = {1,2,3,4,5}

# check for element present in set 
print(1 in s1)

True

In [18]:
## solution 15

# set with tuples as element

s11 = {
    (1,2),
    (3,4),
    (5,6)
}

print(s11)

{(1, 2), (3, 4), (5, 6)}